<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Backup/Restore</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.1/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css"
    />
    <style>
      #submit-backup.loading,
      #submit-restore.loading {
        pointer-events: none;
        background-color: gray;
      }

      #submit-backup.loading:before,
      #submit-restore.loading:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top-color: #fff;
        animation: spin 1s ease-in-out infinite;
      }

      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }

      button {
        position: relative;
      }
    </style>
  </head>
  <body class="h-full font-medium">
    <div id="container" class="w-full max-w-4xl mx-auto px-4 py-8">
      <h1 class="text-2xl mb-8 text-center">Account Backup/Restore</h1>
      <form id="backup" method="get" class="w-full space-y-6 text-lg mb-12">
        <div>
          <input
            type="text"
            name="username"
            id="username"
            class="block w-full border px-6 py-4 rounded-full focus:outline-none"
            placeholder="username you want to backup"
            required
          />
        </div>
        <div class="mt-4">
          <button
            id="submit-backup"
            class="block w-full px-6 py-4 bg-blue-700 hover:bg-blue-900 text-white rounded-full"
            type="submit"
          >
            <span id="submit-backup-text" class="button-text">Backup</span>
          </button>
        </div>
      </form>
      <form id="restore" method="post" class="w-full space-y-6 text-lg">
        <div>
          <input
            type="text"
            name="newusername"
            id="newusername"
            class="block w-full border px-6 py-4 rounded-full focus:outline-none"
            placeholder="username to restore the backup to"
            required
          />
          <input
            type="text"
            name="json"
            id="json"
            class="block w-full border px-6 py-4 rounded-full focus:outline-none mt-4"
            placeholder="get the backup above or paste it here"
            required
          />
        </div>
        <div class="mt-4">
          <button
            id="submit-restore"
            class="block w-full px-6 py-4 bg-blue-700 hover:bg-blue-900 text-white rounded-full"
            type="submit"
          >
            <span id="submit-restore-text" class="button-text">Restore</span>
          </button>
        </div>
        <div id="copy-btn-container" class="mt-4 hidden">
          <button
            id="copy-json-btn"
            class="block w-full px-6 py-4 bg-blue-700 hover:bg-blue-900 text-white rounded-full"
            type="button"
          >
            Copy JSON
          </button>
        </div>
      </form>
    </div>
    <script>
      $(document).ready(function () {
        $("#backup").submit(function (e) {
          e.preventDefault();
          $.ajax({
            url: "/backup/" + $("#username").val(),
            method: "get",
            beforeSend: function () {
              $("#submit-backup").addClass("loading").attr("disabled", true);
              $("#submit-backup-text").css("visibility", "hidden");
            },
            success: function (response) {
              $("#submit-backup").removeClass("loading").removeAttr("disabled");
              $("#submit-backup-text").css("visibility", "visible");
              $("#newid").removeAttr("disabled");
              $("#json").val(JSON.stringify(response));
              $("#copy-btn-container").removeClass("hidden");
              Swal.fire({
                title: "Success",
                text: "Backup created! You can copy and save it for later or restore it right now.",
                icon: "success",
                showConfirmButton: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
              });
            },
            error: function (jqXHR, textStatus, errorThrown) {
              $("#submit-backup").removeClass("loading").removeAttr("disabled");
              $("#submit-backup-text").css("visibility", "visible");
              Swal.fire({
                title: "Error",
                text: errorThrown ?? "Something went wrong",
                icon: "error",
                showConfirmButton: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                confirmButtonText: "OK",
              });
            },
          });
        });
      });

      $("#restore").submit(function (e) {
        e.preventDefault();
        $.ajax({
          url: "/restore/" + $("#newusername").val(),
          method: "post",
          dataType: "json",
          headers: {
            "Content-Type": "application/json",
          },
          data: JSON.parse($("#json").val()),
          beforeSend: function () {
            $("#submit-restore").addClass("loading").attr("disabled", true);
            $("#submit-restore-text").css("visibility", "hidden");
          },
          complete: function () {
            $("#submit-restore").removeClass("loading").removeAttr("disabled");
            $("#submit-restore-text").css("visibility", "visible");
            $("#copy-btn-container").removeClass("hidden");
          },
        }).always(function (response) {
          if (response.status == 200) {
            Swal.fire({
              title: "Success",
              text: response.responseText,
              icon: "success",
              showConfirmButton: true,
              allowOutsideClick: false,
              allowEscapeKey: false,
            });
          } else {
            Swal.fire({
              title: "Error",
              text: response.responseText ?? "Something went wrong",
              icon: "error",
              showConfirmButton: true,
              allowOutsideClick: false,
              allowEscapeKey: false,
              confirmButtonText: "OK",
            });
          }
        });
      });

      $("#json").on("input", function () {
        if ($("#json").val().length > 0) {
          $("#copy-btn-container").removeClass("hidden");
        } else {
          $("#copy-btn-container").addClass("hidden");
        }
      });

      $("#copy-json-btn").click(function () {
        $("#json").select();
        document.execCommand("copy");
        Swal.fire("Info", "JSON copied to clipboard!", "success");
      });
    </script>
  </body>
</html>
